<h3>
    As occured while procesing your request.
    The support team is notifing and we are working on the fix
</h3>
<h1>Please contesct us on xxxx@gmail.com</h1>
<hr />
<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExcaptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExcaptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Stack Track</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>